@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;600;700&display=swap");

:root {
  --bg-color-main: #1e2130;
  --bg-color-secondary: #171a24;

  --font-color: rgb(256, 256, 256, 0.8);
  --font-color-secondary: #2a9d8f;

  --highlight-color: #10497e;
}

::selection {
  background: var(--highlight-color);
}
::-moz-selection {
  background: var(--highlight-color);
}

/* Disable scroll */
html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "Overpass Mono", monospace;
  background-color: var(--bg-color-main);
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--font-color);
}

button.toggle-button,
button.toggle-button:focus,
.world-map-container button.toggle-button:active {
  transition: 0.3s ease-in;
  z-index: 999;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 3rem;
  background-color: var(--bg-color-secondary);
  outline: none;
  box-shadow: none;
  border: none;
}

button.toggle-button:hover {
  background-color: var(--highlight-color);
  margin-right: 3.5rem;
}

.world-map-container {
  width: 100%;
  overflow: hidden;
}

.world-map {
  transition: 0.5s ease-in;
  margin-top: -15vh;
}

@media screen and (max-width: 1200px) {
  .world-map {
    margin-top: -5vh;
  }
}
@media screen and (max-width: 1024px) {
  .world-map {
    width: calc(1.75 * 100vh);
    margin-left: -50vh;
    margin-top: -25vh;
  }
}
@media screen and (max-width: 768px) {
  .world-map {
    width: calc(2 * 100vh);
  }
}
@media screen and (max-width: 480px) {
  .world-map {
    width: calc(3 * 100vh);
  }
}

.modal-content {
  background-color: var(--bg-color-secondary);
  opacity: 0.9;
  color: var(--font-color);
}

a.city-title-link {
  transition: 0.3s ease-in;
  cursor: pointer;
  color: var(--font-color);
  text-decoration: none;
}

a.city-title-link:hover {
  color: var(--font-color-secondary);
  margin-left: 1rem;
}

a.read-more-link {
  transition: 0.3s ease-in;
  cursor: pointer;
  color: var(--font-color);
  text-decoration: underline;
}

a.read-more-link:hover {
  color: var(--font-color-secondary);
  text-decoration: none;
  margin-left: 0.5rem;
}

.city-tooltip {
  background-color: var(--bg-color-secondary) !important;
}

.city-circle {
  cursor: pointer;
}

.world-map-enter {
  opacity: 0.01;
}

.world-map-enter.world-map-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.world-map-exit {
  opacity: 1;
}

.world-map-exit.world-map-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

/************* NOT CURRENTLY USED **************/

.city-marker-enter {
  opacity: 0.01;
}

.city-marker-enter.city-marker-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.city-marker-exit {
  opacity: 1;
}

.city-marker-exit.city-marker-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}
