@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;600;700&display=swap");

body {
  font-family: "Overpass Mono", monospace;
  background-color: #282c34;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.world-map {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .world-map {
    width: calc(2 * 100vh);
  }
}
@media screen and (max-width: 480px) {
  .world-map {
    width: calc(3 * 100vh);
  }
}

.city-marker-enter {
  opacity: 0.01;
}

.city-marker-enter.city-marker-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.city-marker-exit {
  opacity: 1;
}

.city-marker-exit.city-marker-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}
